.container

    .header-ecored
        h1 Confirmar asistencia


    .row.align-items-center.justify-content-center.my-5
        .col-12.col-md-5
            .text-center.p-2
                img(src="assets/images/pages/confirmar/horario.png", alt="")
        
        .col-12.col-md-7
            hr.line-100.bg-orange
            .text-center.p-2
                h2 ¡Ven y comparte con nosotros! 
                p Para nosotros sería un placer inmenso conpartir contigo este día tan especial, ese sería nuestro <strong>mejor regalo</strong>. Solo preocupate por acompañarnos el día de la boda y regresar bien a casa.
                p Favor confirmar asistencia antes del 20 de agosto. 
                p Agradecemos que si por algún motivo no puedes asistir nos avises antes del día de la boda.
            hr.line-100.bg-orange
            
        .col-12.col-md-12
            .text-center.p-2
                img(src="assets/images/pages/confirmar/palomas.gif", alt="" width="70%")

        .col-12.col-md-8    
            .row 
                .col-6
                    a(href="https://wa.me/573183141282?text=Hola+Erika+y+Leyson%2C+deseo+confirmar+asistencia+a+la+boda+el+03+de+Septiembre.%0D%0A%0D%0A%F0%9F%92%92%F0%9F%A4%B5%F0%9F%91%B0+%F0%9F%99%8F%E2%9D%A4%0D%0A%0D%0AVamos+las+siguientes+personas%3A" target="_blank" class="btn btn-colour-Orange") Confirmar con Erika           
                .col-6
                    a(href="https://wa.me/573153037720?text=Hola+Erika+y+Leyson%2C+deseo+confirmar+asistencia+a+la+boda+el+03+de+Septiembre.%0D%0A%0D%0A%F0%9F%92%92%F0%9F%A4%B5%F0%9F%91%B0+%F0%9F%99%8F%E2%9D%A4%0D%0A%0D%0AVamos+las+siguientes+personas%3A" target="_blank" class="btn btn-colour-Orange") Confirmar con Leyson         
    
    

        