.container

    .header-ecored
        h1 Confirmar asistencia


    .row.align-items-center.justify-content-center.my-5
        .col-12.col-md-4.col-xl-4.mb-5
            figure
                img(src="assets/images/logoLE.png", alt="")
        
        .col-12.col-md-8
            hr.line-100.bg-orange
            .text-center.p-2
                h2 ¡Ven y comparte con nosotros! 
                p Para nosotros sería un honor porder compartir este día con su presencia y ese sería nuestro <strong>MEJOR REGALO</strong> preocupate solo por llegar el día de la boda y por volver a tu casa.
                a(href="https://www.google.com/" target="_blank" class="btn btn-colour-Orange") Confirmar            
            hr.line-100.bg-orange
        