.container

    .header-ecored
        h1 Confirmar asistencia


    .row.align-items-center.justify-content-center.my-5
        .col-12.col-md-5
            .text-center.p-2
                img(src="assets/images/pages/confirmar/horario.png", alt="")
        
        .col-12.col-md-7
            hr.line-100.bg-orange
            .text-center.p-2
                h2 ¡Ven y comparte con nosotros! 
                p Para nosotros sería un placer inmenso conpartir contigo este día tan especial, ese sería nuestro <strong>mejor regalo</strong>. Solo preocupate por acompañarnos el día de la boda y regresar bien a casa.
                a(href="https://www.google.com/" target="_blank" class="btn btn-colour-Orange") Confirmar            
            hr.line-100.bg-orange

        .col-12.col-md-5
            .text-center.p-2
                img(src="assets/images/pages/confirmar/palomas.gif", alt="" width="70%")
        