.container#page-introduccion

    .header-ecored
        h1 Cronograma del día


    .jumbotron.bg-white 
      .row
        .col
          ul.bg-color-dark
              li 
                  span 04:30 PM Ingreso de invitados a la iglesia.
              li
                  span 05:00 PM Inicio de la ceremonia.
              li
                  span 06:30 PM Recepción.