.container#page-introduccion

    .header-ecored
        h1 Cronograma del día


    .jumbotron.bg-white 
      .row
        .col
          ul.bg-color-dark
              li 
                  span 04:30 PM Ingreso invitados a las iglesia.
              li
                  span 05:00 PM Inicio de la misa.
              li
                  span 06:30 PM Ingreso invitado recepción.
              li
                  span 07:00 PM Comida.
              li
                  span 08:00 PM Brindis.
              li
                  span 10:00 PM Fin de la recepción.