.container

    .header-ecored
        h1 Ceremonia


    .row.align-items-center.justify-content-center.my-5
        .col-12.col-md-12
            .text-center.p-2
                img(src="assets/images/pages/misa/iglesia.png", alt="", style="width: 100%")
                p.text-center Iglesia Nuestra Señora de las Mercedes
        
        .col-12.col-md-12
            hr.line-100.bg-orange
            .text-center.p-2
                a(href="https://www.google.com/maps/place/Parroquia+Nuestra+Se%C3%B1ora+De+Las+Mercedes+de+Circasia/@4.6200684,-75.6364998,17z/data=!3m1!4b1!4m5!3m4!1s0x8e388b77d962e1a3:0x2edc6e1611a56338!8m2!3d4.6200684!4d-75.6343111" target="_blank" class="btn btn-colour-Orange") VER INDICACIONES            

        