.container

    .header-ecored
        h1 Protocolo

    .row
        .col-10.col-md-10
        
            ul.bg-color-dark

                p Lo más importante es que estén cómodos, se sientan lind@s y tengan toda la energía para compartir un sencillo pero hermoso día con nosotros.
                br
                h2 Mujeres
                p Luzcan el vestido más lindo de su closet. No utilizar colores blanco, rojo o negro.
                br
                h2 Hombres
                p Dispongan de la camisa más elegante de su closet.
        .col-2.col-md-2
            .text-center.p-2
                img(src="assets/images/floresDerecha.png", alt="").flor-derecha


