.container

    .header-ecored
        h1 Protocolo

    .jumbotron.bg-white

        p Lo más importante es que estén cómodos, se sientan lind@s y tengan toda la energía para compartir un sencillo pero hermoso día con nosotros.
        br
        p
            h2 Mujeres
            | Luzcan el vestido más lindo de su closet. No utilizar colores blanco, rojo o negro.
        
        p
            h2 Hombres
            | Dispongan de la camisa más elegante de su closet.

