.container

    .header-ecored
        h1 Protocolo

    .jumbotron.bg-white

        p Lo más importante es que estén cómodos, se sientan lind@s y tengan toda la energía para compartir un sencillo pero hermoso día con nosotros.
        br
        p
            h2 Mujeres
            | Colóquense el vestido más lindo de su closet. No utilizar colores rojo, negro o blanco.
        
        p
            h2 Hombres
            | Colóquense la camisa más linda de su closet.

