.container

    .header-ecored
        h1 Protocolo

    .jumbotron.bg-white

        p Lo mas importante es que esten comodos, se sientan lind@s y tengan toda la energia para compartir un sencillo pero hermoso día con nosotros

        p
            strong.mr-2 Mujeres:
            | Coloquense el vestido mas lindo de closet y por favor no vestir de rojo, negro o blanco.
        
        p
            strong.mr-2 Hombres:
            | Coloquense la camisa mas linda de su closet.
        p 
            strong.mr-2 Damas de honor:
            | Las damas de honor se les compartira el color y estilo del vestido.
        p 
            strong.mr-2 Caballeros del zodiaco:
            | Traje formal.
