.container

    .header-ecored
        h1 Recepción


    .row.align-items-center.justify-content-center.my-5
        .col-12.col-md-12
            .text-center.p-2
                img(id="imgRecepcion", src="assets/images/pages/recepcion/territorio-rodizio-portada.png", alt="", style="width: 100%").fadeLeft
                p(id="txtRecepcion").text-center.fadeTop Restaurante Territorio Rodizio - Km 3 vía Armenia Circasia
        .col-12.col-md-12
            hr.line-100.bg-orange
            .text-center.p-2
                a(href="https://www.google.com/maps/place/Restaurante+Territorio+Rodizio/@4.593426,-75.6426294,17z/data=!3m1!4b1!4m5!3m4!1s0x8e388b76caa76fa5:0xf924b3d14e3c4a7c!8m2!3d4.593426!4d-75.6404407" target="_blank" class="btn btn-colour-Orange") VER INDICACIONES            

        