include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Invitación boda
        meta(meta name="description" content="Ruta de aprendizaje programa Servicio al cliente.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Servicio al cliente
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Servicio al cliente
                                        li 
                                            span #[strong Código:] 13530001
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] 
                                            ol(type="a")
                                                li  Tener los datos actualizados en el aplicativo SOFIAPLUS.
                                                li Cumplir con la formación del programa en su totalidad.


                    

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.png").curso-imagen      


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Estimado Aprendiz: el Servicio Nacional de Aprendizaje SENA y el Centro Industrial y de Aviación Regional Atlántico, le da la bienvenida al programa de formación en Servicio al Cliente; el cual tiene porposito incentivar el desarrollo de las habilidades y concomientos en el marco del servicio al cliente, tipologías de clientes, comunicación, trabajo en equipo, etiqueta y protocolo, entre otros. Focalizando los servicios en el proceso administrativo de la organización.
                
                p El curso virtual, tiene como objetivo ofrecer herramientas básicas para la atención al cliente. Hace énfasis en la importancia de una buena prestación de servicios, aplicando los métodos de atención al cliente en busca del bienestar de la organización y de sus clientes. Manteniendo así, la premisa de que  los clientes no siempre tienen la razón, pero son la razón de ser de la organización.
                
                p El programa de formación contempla cuatro pilares básicos que son: cliente, servicio al cliente, comunicación y portafolio de servicios. Los cuales abordaremos en en todo el desarrollo del curso que tiene una duración de 48 horas.
                
                p El aprendiz es responsable de su propio aprendizaje, y debe cumplir con cada una de las actividades establecidad durante el curso.  Recuerden que el éxito del curso depende del esfuerzo de cada uno de ustedes. Sumado a esto, este programa les servirá para certificar sus conocimientos en servicio al cliente, y aportará a su crecimiento personal y profesional, entendiendo que cada día las competencias laborales son más estrictas y en consecuencia, es de gran importancia prepararnos para afrontar nuevos retos.

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El SENA presenta el curso complementario denominado Servicio al Cliente, el cual brinda respuesta a los requerimientos de las empresas para desarrollar altos procesos de cualificación en sus colaboradores.
                
                p Partiendo de la premisa organizacional que indica que los clientes son la razón de ser de cualquier empresa, en un entorno globalizado donde las comunicaciones son cada vez más ágiles, el consumidor es el que decide cuándo, dónde y por cuánto tiempo comprar, es importante para los empresarios contar con talento humano capaz de fidelizar y retener clientes que contribuyan con la sostenibilidad económica de sus unidades productivas.
                
                p El servicio y la atención al cliente, son y deben ser un asunto de importancia para cualquier organización, de igual manera analizar el servicio al cliente de una compañía, permite validar si las características y funciones del producto o servicio logran satisfacer las necesidades de los usuarios. Conforme con esto, se debe generar estrategias para que las empresas presten un excelente servicio al cliente, pues es el pilar y la base fundamental para conquistar al cliente.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Dirigido a personas naturales de origen Colombiano y a extranjeros legalmente residenciados en Colombia (Debidamente legalizados ante el Ministerio de Relaciones Exteriores, cuya vigencia sea superior a la duración del curso. No se permite la cedula de extranjería temporal ni de estudiante).


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos o el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes abiertos y pluritecnológicos, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 
                
                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





